body {
    font-family: Tahoma, Geneva, sans-serif;
    color: black;
    padding: 0;
    margin: 0;
}

#wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

#header {
    background-color: #909090;
    border-radius: 0 0 5px 5px;
    padding: 3px;
    margin: 2px;
    margin-top: 0;
    text-align: center;
}

#title {
    display: block;
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-size: 3em;
}

a.link_tile {
    color: black;
    
}

.tile {
    text-align: center;
    width: 190px;
    height: 250px;
    float: left;
    background-color: #909090;
    margin: 2px;
    padding: 3px;
    border-radius: 5px;
    opacity:.8;
}

.tile:active, .tile:hover {
    opacity:1
}

.tile_title {
    height: 70px;
    font-size: 13px;
}

.icon {
    width: 100px;
    height: 100px;
}
